*{
    margin: 0;
    padding:0;
  
}
.banner{
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 85vh;
    background: rgba(229, 84, 115, 0.10); 
    padding:50px 230px 0px 230px ;
    text-align: start;
    
}
.banner-info{
  width: 600px;
  margin-bottom: 50px;
}
 
.banner-title{
    font-size: 70px;
    font-weight: 800; 
    color: #272727;
}

.banner-des{
    font-size: 20px ;
font-weight: 200;
color: rgba(39, 39, 39, 0.60);
}

.banner-btn{

    background-color: #E55473;
    color: aliceblue;
    padding: 20px 43px;
    border: 0;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
}
.first{
    margin-top: 170px;
    text-align: center;
    padding: 0px 240px;
}
.first-photos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: underline;
}
.picture{
    
    border-radius: 300px 300px 0px 0px;
    margin-left: 20px;
}

.one{
    background-color: rgba(167, 33, 98, 0.15);
    padding: 110px 75px 0px 75px;
}
.two{
    padding: 117px 45px 50px 45px;
    background-color: rgba(5, 151, 160, 0.15);
}
.three{
    padding: 65px 75px 0px 75px;
    background-color: rgba(71, 125, 17, 0.15);
}

.first-title{
    padding-bottom: 20px;
    font-size: 35px;
    color: #272727;
    font-weight: 800;
}
.first-des{
    padding-bottom: 40px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 20px;
    font-weight: 300;
    width: 600px;
    margin: auto;
    border: 0;
    border-radius: 5px;
}
.first-head{
    padding-top: 20px;
    font-size: 25px;
    font-weight: 700;
    color: #272727;
}
.second{
    background-color: rgba(39, 39, 39, 0.05);
    border-radius: 10px;
    padding: 80px ;
   margin-top: 150px;
    width: 1280px;
    margin-left: 240px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.second-pic{
    padding: 20px;
    margin-left: 100px;
}
 .call{
    padding: 20px;
    margin-left: 40px;
 }
.second-head{
    font-size: 25px;
    font-weight: 500;
    color: rgba(39, 39, 39, 0.80);
}
.third{
    padding: 100px;
    margin-top: 100px;
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 180px;
   
}
.third-head{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}
.fourth{
    margin-top: 130px;
    text-align: center;
}
.fourth-pic{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 200px;
}
.fifth{
    margin-top: 130px;
    margin-bottom: 130px;
    text-align: center;
    background-image: url('Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-position: center;
    
    padding: 120px;
    

}
.contact{
    display: inline-flex;
    gap: 10px;
}
.email{
    padding: 20px;
}
span{
    color: #E55473;
}
footer{
    background-color: #111010;
    text-align: center;
    padding: 130px;
    
}
.title{
    color: aliceblue;
    font-size: 50px;
    font-weight: 800;
}

.des{
    color: rgba(255, 255, 255, 0.90);
    font-size: 20px;
    font-weight: 400;
}
.des2{
    font-size: 15px;
    font-weight: 400;
    color:  rgba(255, 255, 255, 0.40);
}
.hide{
    display: none;
}
@media  screen and (max-width:576px) {
    footer{
        width: 102%;
        padding: 5px;
     margin-right: -10px;
      
    }
    .des{
        width: 50%;
    }
    .fifth{
       
        width: 100%;
        padding: 10px;
       margin-bottom: 20px;
        margin-top: 20px;
    }
    .fifth>.first-title{

        width: auto;
      
    }
    
    .contact{
        flex-direction: column;
        width: 50%;
    }
    .fourth-pic{
        flex-direction: column;
       }
       .first-des{
        width: 50%;
        
       }
         
   .email{
    width: auto;
}
 .third{
    flex-direction: column;
 }
 .second{
    flex-direction: column;
    width: 100%;
  margin-left: 0;
  padding: 5px;
   gap: 30px;
}
.first-photos {
    flex-direction: column;
    gap: 30px;
}
.des1{
    width: 200%;
   
}


.banner-photo{
    display: none;
}
.banner-info{
    width: 100%;
   
}
.banner-title{
    width: 200%;
    font-size: 20px;
}
.banner-des{
    font-size: 12px;
    width: 200%;
}
.banner-btn{
    font-size: 15px;
    padding: 10px 20px;
}
}
    
  
 